<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <input type="text" name="city" placeholder="city" />
      <input type="text" name="town" placeholder="town" />
      <input type="number" name="phone" placeholder="phone" />
      <input type="text" name="email" placeholder="email" />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
